div {
    background-color: rgb(216, 177, 106);
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
h1 {
    font-size: 20px;

    
}

h2{
    font-size: 20px;
    margin-left: 20px;
    padding-left: 500px;
}